---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

@import "normalize", "skeleton", "highlight";

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

header {
  background-color: #339933;
  padding-top: 3rem;
  padding-bottom: 10rem;

  h1 {
    position: relative;

    .right-text {
      @media (min-width: 550px) {
        text-align: right;
      }
    }

    small {
      font-size: 50%;
      @media (min-width: 560px) {
        font-size: 40%;
      }
      @media (min-width: 730px) {
        font-size: 50%;
      }
      color: #fff;

      a {
        color: #f4d06b;

        &:hover {
          color: darken(#f4d06b, 20%)
        }
      }
    }

    .site-title {
      color: #fdf6e3;
      text-decoration: none;
      font-size: 4.3rem;

      @media (min-width: 730px) {
        font-size: 5rem;
      }

      &:hover {
        color: #fdf6e3;
        border-bottom: 1px solid #fdf6e3;
      }

      .title-left-half {
        &:hover {
          color: #fdf6e3;
        }
      }

      .title-right-half {
        color: #f4d06b;
        font-weight: 600;
        &:hover {
          color: #f4d06b;
        }
      }
    }
  }
}

.previous-episodes-bg {
  background-color: #eee;
  padding-top: 2rem;
  padding-bottom: 4rem;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #4d7e7a;
  }
}

footer {
  background-color: #339933;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #ddd;
    }
  }

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#main-video {
  margin-top: -9rem;
}

.little-vid {
  img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #ccc;
  }
}

.main-post-meta {
  margin-bottom: 8rem;

  small {
    font-size: 50%;
    color: #777;
  }

  #links + ul {
    li {
      margin-bottom: 0;
      font-size: 2rem;
    }
  }
}

.little-post-meta {
  h3 {
    a {
      text-decoration: none;
      border-bottom: 1px solid #66cbea;
      font-size: 2.5rem;
    }
  }

  .little-post-date {
    font-size: 60%;
  }

  .little-post-description {
    font-family: $base-font-family;
    font-weight: 300;
    letter-spacing: 0.6px;
  }
}

.recent {
  h3 {
    color: #4d7e7a;
    font-size: 3.6rem;
  }
}

.first-post-description {
  p {
    font-family: $base-font-family;
    font-weight: 300;
    letter-spacing: 0.6px;

    code {
      padding: 0 .2rem;
    }
  }
}
