<header>
  <div class="container">
    <div class="row">
      <h1>
        <div class="five columns">
          <a class="site-title" href="{{ site.baseurl }}/">
            <span class="title-left-half">Elm</span><span class="title-right-half">seeds</span>
          </a>
        </div>
        <div class="seven columns right-text">
          <small>
            Get updates via
            <a class="twitter" href="https://twitter.com/seedsofelm">Twitter</a>
            or
            <a class="rss" href="https://elmseeds.thaterikperson.com/feed.xml">RSS</a>
          </small>
        </div>
        <div style="clear:both" />
      </h1>
    </div>
  </div>
</header>
