html * {
  box-sizing: border-box;
}

body {
  background-color: #339933;
  padding-top: 3rem;
}

h2.card-desc {
  color: #fff;
}

button {
  background-color: #eee;
  border-color: #ccc;
  font-size: 1.5rem;
}
