<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="sans-serif">

    {% include header.html %}

    <div class="workshop container">
      <h1><a href="https://www.eventbrite.com/e/2-day-elm-workshop-boston-tickets-32309513625?aff=elmseedshome">Attend my 2-Day Elm Workshop in Boston</a></h1>
      <p>
        I'm hosting a two-day workshop to help you advance your Elm skills faster than I can with weekly tutorials.
      </p>
      <p>
        It will be held on May 10 and 11, 2017 in downtown Boston. A ticket to the class includes lunch, coffee, soda, and snacks for both days of the event.
      </p>
      <p>
        <a href="https://www.eventbrite.com/e/2-day-elm-workshop-boston-tickets-32309513625?aff=elmseedshome">Check it out on Eventbrite.</a>
      </p>
    </div>
    {{ content }}
    {% include footer.html %}

  </body>

</html>
